body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://www.publicdomainpictures.net/pictures/180000/velka/white-water-texture-1466336304ZwI.jpg);
  background-size: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#main-page {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
}

#left-column {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
}

#center-column {
  grid-column-start: 2;
  grid-column-end: 3;
}

#right-column {
  grid-column-start:3;
  grid-column-end: 4;
}

a {
  color: fuchsia;
  text-decoration: none;
}

#new-trip-btn {
  display: flex;
  align-items: center;
  margin: auto;
  text-decoration: none;
}

#new-btn {
  padding: 15px;
  font-size: 15px;
  background-color: turquoise;
  border: 1px solid black;
  border-radius: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style: none;
  padding: 0;
}

#trip-box {
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
}

#trip-tag {
  color: black;
}

.rafting-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

div {
  padding: 5px;
}

img {
  width: 400px;
}

#list-pics {
  width: 280px;
}

#app-name {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#home, #log-out, #log-in {
  margin: 0 10px;
}