body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://www.publicdomainpictures.net/pictures/180000/velka/white-water-texture-1466336304ZwI.jpg);
  background-size: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

a {
  color: fuchsia;
  text-decoration: none;
}

h1 {
  font-family: 'Bungee Shade', sans-serif;
}

h2 {
  font-family: 'Monoton', sans-serif;
}

div {
  padding: 5px;
}

img {
  width: 400px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style: none;
  padding: 0;
}

th {
  font-family: 'Audiowide', sans-serif;
  font-size: 17px;
  text-decoration: underline;
}

td {
  padding: 7px;
  text-align: center;
}

.rafting-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: yellow;
  font-size: 23px;
  text-decoration: yellow underline;
  background-color: rgba(0,0,0,.65);
  width: 150px;
  margin: auto;
  margin-top: 10px;
}

.trip-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.65);
  width: 250px;
  margin: auto;
  border: 1px solid fuchsia;
  border-radius: 10px;
  color: yellow;
  padding: 10px;
}

.meal-label {
  background-color: rgba(0,0,0,.65);
  width: 75px;
  margin: auto;
  color: turquoise;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h3-style {
  font-family: 'Audiowide', sans-serif;
  text-decoration: underline;
  font-size: 25px;
}

#main-page {
  display: grid;
  grid-template-columns: .5fr 1fr .65fr;
}

#left-column {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
}

#center-column {
  grid-column-start: 2;
  grid-column-end: 3;
}

#right-column {
  grid-column-start:3;
  grid-column-end: 4;
}

#trip-box {
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  background-image: url(https://st3.depositphotos.com/1010652/14826/v/450/depositphotos_148267741-stock-illustration-90s-style-seamless-background.jpg);
}

#trip-tag {
  font-size: 17px;
  color: chartreuse;
  text-decoration: underline;
  background-color: rgba(0,0,0,.55);
  width: 175px;
  margin: auto;
}

#list-pics {
  width: 280px;
}

#app-name {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 50px;
}

#tips-box {
  background-image: url(https://ak.picdn.net/shutterstock/videos/1016011171/thumb/1.jpg);
  background-size: cover;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 10px;
}

#home, #log-out, #log-in {
  margin: 0 10px;
}

#tips {
  color: rgb(255, 180, 41);
  background-color: rgba(0,0,0,.75);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 215px;
  margin: auto;
  text-align: center;
}

#new-trip-btn {
  display: flex;
  align-items: center;
  margin: auto;
  text-decoration: none;
}

#new-btn {
  padding: 15px;
  font-size: 15px;
  background-color: turquoise;
  border: 1px solid black;
  border-radius: 10px;
}

#delete-meal-btn {
  background-color: red;
  color: snow;
}

#new-meal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-image: url(https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0603/6801/rpizza_party_pink_shop_thumb.png);
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 10px;
}

#show-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}