<%- include('../partials/header.ejs') %>

<form class="trip-form" action="/trips" method="POST">

    <label>Location:</label>
    <input type="text" name="location"><br>
    <label>Date:</label>
    <input type="date" name="date"><br>
    <label>Picture (URL):</label>
    <input type="text" name="picture"><br>
    <label>Trip Length (days):</label>
    <input type="number" name="length"><br>
    <input type="submit" value="Create Trip" class="edit-new-submit">

</form>

<%- include('../partials/footer.ejs') %>